@{
    ViewData["Title"] = "Trang chủ";
}

@model List<HakunaMatata.Models.ViewModels.VM_WishList>

@section scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&callback=LoadMarker">
    </script>
    <script type="text/javascript" src="~/assets/js/maplace-active.js"></script>
}
<!-- user wish -->
<div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="wish-item row">
                <div class="col-4 img-item-wish-box">
                    @{
                        string imagePath = $"/images/{item.Url}";
                    }
                    <img class="img-item-wish" src="@imagePath" alt="img house" />
                </div>
                <div class="col-6" style="border-right: 1px solid #CCD4E3;">
                    <span class="wish-cost-data">@Helper.VNCurrencyFormat(@item.Price.ToString()) Vnd per week</span><br />
                    <span class="title-wish-item">
                        @item.Title
                    </span>

                    <span class="wish-address-data">
                        <span class="wish-address">Address : </span>
                        @item.Address
                    </span>

                    <div class="text-secondary2">
                        <i class="fa fa-bed wish-item-icon"></i>
                        @item.RoomNumber
                    @*    <span class="type-wish">@item.</span>*@
                    </div>

                </div>
                <div class="col-2 wish-handle">
                    <form action="/wish-list/@item.Id" method="post" style="width: max-content;margin: 0 auto;">
                        <div class="btn-container">
                            <input style="color: red; border: 2px solid" class="btn btn-buy" type="submit" value="REMOVE" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

</div>
<!-- user wish end -->

<style>
    .img-item-wish-box {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }

    .wish-item-icon {
        color: #676a6c;
        font-size: 18px;
        margin-right: 4px;
    }

    .type-wish {
        font-size: 18px;
    }

    .house-space-icon {
        font-size: 10px;
        color: #676a6c;
    }

    .text-secondary2 {
        display: flex;
        align-items: center;
    }

    .container-text {
        padding-bottom: 20px;
    }

    .name-news {
        padding-top: 12px;
    }

    .container-title-text {
        margin-bottom: 70px;
    }

    .img-item-wish {
        height: 100%;
        width: 100%;
    }

    .user-wishlist,
    .user-search {
        display: flex;
    }

    .user-search {
        margin: 40px 0;
    }

    .img-user {
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }

    .search-input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 2px;
        background-color: #ebeef3;
    }

    .search-btn {
        background-color: #000;
        border: none;
        border-radius: 2px;
        margin-right: 3px;
        height: 34px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-btn-icon {
        font-size: 14px;
        color: #fff;
    }

    .wish-item {
        background-color: #fff;
        border: 2px solid #CCD4E3;
        margin: 16px auto;
        border-radius: 4px;
        height: 230px;
        max-width: 960px;
    }

    .wish-address,
    .wish-cost {
        font-size: 16px;
        color: #0b2047;
        line-height: 24px;
        font-weight: 600;
    }

    .wish-address-data,
    .title-wish-item {
        font-size: 16px;
        color: #5f7297;
        line-height: 22px;
        font-weight: 400;
        display: block;
        margin: 12px 0;
    }

    .wish-cost-data {
        font-size: 22px;
        color: #0b2047;
        line-height: 24px;
        font-weight: 600;
    }

    .remove-item-wish {
        background-color: #fff;
        border-radius: 12px;
        width: 100px;
        padding: 0 12px;
    }

    .wish-handle {
    }
</style>

